.speech{
 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 15px;
color: black;
}
 
.stage-direction{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    color:rgba(95, 158, 160, 0.288);
}
.stage-direction:hover{
    background-color: rgba(165, 42, 42, 0.404);
}
.name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    color:darkcyan;
}

.PRINCE_PETRO{
    color:cornflowerblue;
}
.BARON_RAFF{
    color:darkblue;
}
.MARQ_DE_POIV{
    color: darkorchid;
}
.GEN_KOTEMK{
    color: darkred;
}
.COUNT_R{
    color: deeppink;
}
table,th,td{
    border: 2px dashed gray;    
}
table{
    margin: 15px;
    overflow: auto;
    width: 70%;
   border-collapse: collapse; 
   height: 50px;
}
 
th{
    background-color: rgba(104, 76, 204, 0.678);
    color: rgb(255, 0, 0);
}
td{
    padding: 8px; text-align: left;
}
th{
    padding: 12px; text-align: center;
}
tr:hover{
background-color:lavender;
}
tr:nth-child(even){
    background-color: lightgoldenrodyellow ;
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;border: 1px solid indigo; background-color:lightblue;
  }
  
  li.navbar-horizontal {
    float: left;
  }
  
  li a.navbar-horizontal {
    display: block;
    color: rgb(238, 20, 20);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: lightcoral;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }


.name:hover{
    color: darkgray;
   box-shadow: 10px 10px 10px 5px gray;
   border: 3px double burlywood;
}
